<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPDCtrl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <MPDCtrl.Properties.Settings>
            <setting name="MainWindow_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultHost" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>6600</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
        </MPDCtrl.Properties.Settings>
    </userSettings>
</configuration>
